html {
    font-family:'Franklin Gothic',  sans-serif;
}

h1{
    
    text-align: center;
    margin:5px;
    padding-top:50px;
    color: #ff56b3;
}

h2{
    
    text-align: center;
    margin:5px;
    margin-bottom:30px;
    color: #a10159;
}
h3 {
    text-align:center;
    font-size:25px;
    color: #ff56b3;
}
h4 {
    font-size:22px;
    text-align: center;
    text-transform: uppercase;
    margin:15px;

}
h5 {
    font-size:20px;
    text-align: center;
    text-transform: uppercase;
}
h6 {
    font-size: 18px;
    margin:0;
    margin-top:5;
 }

#intro{
    font-size: 18px;
    line-height: 22px;
}
#info {
    margin-left:7%;
    margin-right:10%;
    line-height: 20px;
}
summary {
    font-style: italic;
    font-size:20px;
    text-align: center;
    color: #a10159;
}

 .citation {
    font-size: 14px;
    font-style: italic;
    margin:3px;   
}

.avatar_selector {
    margin:10px
}

.avatar_selector p {
    text-align:center;
    font-size:18px;
 }

.display {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 650;
    margin-left: 10px;
    margin-right: 10px;
}


.individual {
    align-self: center;
    padding: 3px;
    border: 3px solid transparent;
}

.individual:hover {
    border: 3px solid rgb(190, 190, 190)
}

.individual img {
    cursor: pointer;
}

/* .individual:last-child {
    margin-right: 0;
} */

.avatar_selector {
    height: 300px;
    width: 550px;
    display: flex;
}
div.avatar_group{
    display: flex;
}

.hidden {
    display: none;
}

.gridlines .domain {
    display: none;
}

.contains_triangle {
    align-self: center;
    padding-top: 50px;
}


.triangle {
    cursor: pointer;
    padding-left: 50px;
}
/* img.triangle{
    padding-top: 150px;
} */

.tooltip {
    pointer-events: none;
}

#buttonContainer{
    display:grid;
    justify-content: center;
    align-items: center;
}
.randomize {
    padding: 15px 35px;
    margin:auto;
    font-size:15px;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;

}
.randomize:hover {
    background-color: rgb(220, 220, 220);
}
